################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestGoogleNUnit/TestGoogleNUnit/bin/Debug/net5.0
/TestGoogleNUnit/.vs/TestGoogleNUnit
/TestGoogleNUnit/TestGoogleNUnit/obj
